.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1001;
  padding: 20px;
  text-align: center;
}

.dropzone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal-container h2 {
  color: var(--aqua);
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 4px;
  text-align: center;
}

.dropzone {
  border: 2px dashed var(--white);
  padding: 40px 80px;
  cursor: pointer;
}

.title-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
  text-align: center;
  color: var(--white);
  font-size: 16px;
  font-weight: normal;
  line-height: 19.2px;
  letter-spacing: 4px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title-input::placeholder {
  text-align: center;
  color: var(--white);
}

.title-input:focus {
  outline: none;
}

.upload-button,
.exit-button {
  width: 100%;
  padding: 10px;
  background: #00ff99;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.uploading,
.error,
.success {
  text-align: center;
}

.uploading progress {
  width: 100%;
}

.error p,
.success p {
  color: red;
  font-weight: bold;
}

.success p {
  color: green;
}
